# Archivos de compilación
*.class

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.swp
*~

# Directorios de compilación
bin/
build/
out/
target/

# IDEs
# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# Archivos del sistema
.DS_Store
Thumbs.db

# Maven
.mvn/
!**/src/main/**/.keep
!**/src/test/**/.keep

# Gradle
.gradle/
build/

# Archivos de empaquetado
*.jar
*.war
*.ear
